body,
html {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;

}

.fullcont {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.roundimg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.roundimgMsg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.selectedFriend {
    background-color: #007bff;
    color: white;
}

.messages {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
}

#history {
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

#input {
    margin-top: 1vh;
    height: 9vh;
}

#friend {
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.messagesPage {
    height: 90vh;
}

.avatar {
    height: 500px;
    align-self: center;
}

.card {
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    max-width: 320px;
    margin: 0 auto;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 5px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

p:nth-child(1) a {
    color: #fff;
    font-size: 7em;
    margin: 20px 0 20px 0;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}

.alertbox {
    z-index: 1000;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    font-size: 2em;
    display: none;
    color: white;
    top: 0px;
    text-align: center
}
