<div id="alert" class="alertbox bg-success">
</div>
<div id="menu" class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 text-nowrap noselect">
    <nav class="nav flex-column nav-pills sticky-top p-3 mt-5 border border-primary">
        <div id="menu-header" class="rounded-top d-block">
            <img id="avatar" class="roundimg ml-3" />
            <span id="name" class="font-weight-bold ml-3">John Wick</span>
        </div>
        <hr/>
        <a class="nav-link" href="#profile">My Profile</a>
        <hr/>
        <a class="nav-link active" href="#news">News</a>
        <a class="nav-link" href="#friends">Friends</a>
        <a class="nav-link" href="#messages">Messages</a>
        <a class="nav-link" href="#settings">Settings</a>
        <hr/>
        <a class="nav-link" href="#logout">Log Out</a>
    </nav>
</div>
<div id="container" class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mt-5">
</div>