<div id="friendsList" class="justify-content-centerfullcont">
    <h3 id="friendsCount"></h3>
    <div id="friends" class="container mt-4">
    </div>
    <h3 id="requestCount"></h3>
    <div id="requests" class="container mt-4">
    </div>
</div>