<div id="messages" class="row messagesPage">
    <div id="dialogList" class="col-12 col-sm-4 messages border border-primary">
    </div>
    <div id="messageArea" class="col-12 col-sm-8">
        <div id="history" class="container justify-content-center border border-primary">
        </div>
        <div id="input" class="row fullcont border border-primary justify-content-center">
            <a id="selectedLink" href="#profile"><img class="roundimg mx-3"/></a>
            <div class="input-group col-7 vertical-center">
                <textarea class="form-control" maxlength="1024" placeholder="Type your message" rows="1"></textarea>
            </div>
            <div class="col-3 vertical-center">
                <button class="btn btn-block btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>