<div id="profile" class="justify-content-center row">
    <div id="profileAction" class="col-xl-4 col-lg-4 col-md-8 col-sm-7 col-12">
        <div class="card">
            <img class="avatar" alt="Your avatar here"/>
            <div class="card-body">
                <a id="message" class="btn btn-block btn-primary text-white">Message</a>
                <button id="add" class="btn btn-block btn-success">Add</button>
                <button id="delete" class="btn btn-block btn-dark">Delete</button>
                <button id="unsubscribe" class="btn btn-block btn-dark">Unsubscribe</button>
                <button id="unblock" class="btn btn-block btn-success">Unblock</button>
                <button id="block" class="btn btn-block btn-danger">Block</button>
                <div id="avatar_change">
                    <input id="avatar_file" name="userfile" type="file" class="form-control" accept="image/*" />
                    <button class="btn btn-block btn-primary">Update picture</button>
                </div>
            </div>
        </div>
    </div>
    <div id="profileLeft" class="container col-xl-7 col-lg-7 col-md-10 col-sm-10 col-12">
        <h1 id="fullname"></h1>
        <p id="status" class=""></p>
        <div id="shortInfo" class="border border-primary col-12 mb-5 pt-3">
        </div>
        <div id="wallPosts" class="col-12">
            <h3>Posts:</h3>
            <div class="row">
                <div class="input-group">
                    <textarea class="form-control" maxlength="1024" placeholder="What's on your mind" rows="1"></textarea>
                    <button class="input-group-addon btn btn-primary">Post</button>
                </div>
            </div>
            <div id="news">
            </div>
        </div>
    </div>
</div>