<form id="settings">
    <div class="form-group">
        <label for="FNameInput">First name</label>
        <input type="text" name="fname" class="form-control" pattern="[A-Z][a-z]{1,15}" id="FNameInput" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <label for="LNameInput">Last Name</label>
        <input type="text" name="lname" class="form-control" pattern="[A-Z][a-z]{1,15}" id="LNameInput" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" name="country" class="form-control" id="country" pattern="[A-Z]{1,5}[a-z]{0,15}" placeholder="Country" required>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control" id="city" pattern="[A-Z]{1,5}[a-z]{0,15}" placeholder="City" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input id="phone" name="phone" class="form-control" type="tel" required pattern="[0-9]{1,3}-[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xx-xxx-xxx-xxxx">
    </div>
    <div class="form-group">
        <label>Wall visible</label><br/>
        <label class="form-check-label">
        <input class="form-check-input" type="radio" name="wallVis" id="everyone" value="1">  Everyone
        </label><br/>
        <label class="form-check-label">
        <input class="form-check-input" type="radio" name="wallVis" id="friends" value="0" checked>  Friends only
        </label>
    </div>
    <div class="form-group">
        <label>Phone visible</label><br/>
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="phoneVis" id="everyone" value="1">  Everyone
        </label><br/>
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="phoneVis" id="friends" value="0" checked>  Friends only
        </label>
    </div>
    <div class="form-group">
        <label>Message access</label><br/>
        <label class="form-check-label">
        <input class="form-check-input" type="radio" name="messAcc" id="everyone" value="1">  Everyone
        </label><br/>
        <label class="form-check-label">
        <input class="form-check-input" type="radio" name="messAcc" id="friends" value="0" checked>  Friends only
        </label>
    </div>
    <div class="form-group">
        <label>Gender</label><br/>
        <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gender" id="male" value="male"  >  Male
        </label><br/>
        <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gender" id="female" value="female">  Female
        </label><br/>
        <label class="form-check-label">
        <input class="form-check-input" type="radio" name="gender" id="other" value="else" checked>  Other<br/>
        </label>
    </div>
    <button type="submit" class="btn btn-success btn-block mb-3">Update settings</button>
</form>