<form id="mailConfirmForm">
    <div class="form-group">
        <label for="confirmCode">Code from email</label>
        <input type="text" name="confirmCode" class="form-control" id="confirmCode" placeholder="Code from email" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Confirm</button>
</form>