<form id="login">
    <div class="form-group">
        <label for="email_in">Email address</label>
        <input type="email" name="email" class="form-control" id="email_in" aria-describedby="emailHelp" placeholder="Enter email" />
    </div>
    <div class="form-group">
        <label for="pwd_in">Password</label>
        <input type="password" name="pwd" class="form-control" id="pwd_in" placeholder="Password">
    </div>
    <div class="form-group text-center">
        <a href="#" id="restorePwd">Forgot password?</a>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>