<form id="recoverForm">
    <div class="form-group">
        <label for="confirmCode">Code from email</label>
        <input type="text" name="confirmCode" class="form-control" id="confirmCode" placeholder="Code from email" required/>
    </div>
    <div class="form-group">
        <label for="pwd">New password</label>
        <input type="password" name="pwd" class="form-control" id="pwd" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="pwd_confirm">Confirm password</label>
        <input type="password" name="pwd_confirm" class="form-control" id="pwd_confirm" placeholder="Confrim password" required>
    </div>
    <button type="submit" class="btn btn-success btn-block">Update password</button>
</form>