<form id="regForm">
    <div class="form-group">
        <label for="FNameInput">First name</label>
        <input type="text" name="fname" class="form-control" id="FNameInput" placeholder="First Name" required>
    </div>

    <div class="form-group">
        <label for="LNameInput">Last Name</label>
        <input type="text" name="lname" class="form-control" id="LNameInput" placeholder="Last Name" required>
    </div>

    <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" name="email" class="form-control" id="emailInput" placeholder="Enter email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" name="pwd" class="form-control" id="pwd" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="pwd_confirm">Confirm password</label>
        <input type="password" name="pwd_confirm" class="form-control" id="pwd_confirm" placeholder="Confrim password" required>
    </div>
    <button type="submit" class="btn btn-success btn-block">Register</button>
</form>